.custom-button {
    background-color: transparent;
    border-color: var(--campus-brick);
    border-style: solid;
    color: var(--campus-brick);
    padding: 10px 10px;
    width: 125px;
    border-radius: 8px;
    font-family: trade-gothic-next, sans-serif;
    font-weight: bold;
}

.custom-button:hover {
    background-color: var(--campus-brick);
    color: white;
    cursor: pointer;
}

