.footer-wrapper {
    background-color: var(--diploma);
    color: white;
    height: 6vh;
    min-height: 81px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.footer-wrapper p {
    padding: 0;
    margin: 0;
    width: 33vw;
}

.footer-wrapper p a {
    color: white;
}

.footer-wrapper .dr-b {
    padding: 0 20px;
}

.footer-wrapper .socials {
    width: 20vw;    
    display: flex;
    justify-content: space-between;
}

.footer-wrapper .socials img {
    height: 30px;
    width: auto;
}

.footer-wrapper .dr-b-second {
    display: none;
}

.footer-wrapper .brooks {
    text-align: right;
    padding: 0 20px;
}

@media only screen and (max-width: 906px) {
    
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 0;
    }

    .footer-wrapper .dr-b {
        display: none;
    }

    .footer-wrapper .dr-b-second {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }

    .footer-wrapper p {
        width: auto;
        text-align: center;
    }

    .footer-wrapper .socials {
        min-width: 140px;
    }

}



