.audition-navbar {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 8px;
}

.audition-wrapper {
    height: 92vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audition-feature {
    width: 100vw;
    min-height: 28.125vw;
    background-image: url('../images/auditions-background.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.audition-header {
    background-color: var(--campus-brick);
    color: white;
    padding: 10px 60px 5px 60px;
    border-radius: 20px 20px 0 0;
}

.audition-header h1 {
    margin: 0;
    padding: 0;
    font-family: turbinado-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
}

.audition-content {
    display: flex;
    margin-top: 10px;
    width: 80vw;
}

.audition-left {
    width: 65%;
    padding: 10px 50px 0 30px;
}

.audition-wrapper h2 {
    font-weight: lighter;
    margin: 0;
}

.audition-wrapper h3 {
    font-weight: normal;
    color: var(--campus-brick);
}

.audition-left p {
    color: var(--diploma);
    font-size: 18px;
    padding: 5px 0;
}

.audition-right {
    width: 35%;
    padding-right: 30px;
}

.audition-instructions {
    width: 80vw;
    margin-bottom: 30px;
}

.audition-instructions h2 {
    padding: 0 30px;
}

.instruction-panels {
    display: flex;
    padding: 0 30px;
    justify-content: space-evenly;
}

.sheet-music {
    width: 80vw;
}

.sheet-music h3 {
    padding: 20px 30px;
}

.music-buttons {
    display: flex;
    justify-content: space-evenly;
}

.starting-pitches {
    width: 80vw;
}

.starting-pitches h3 {
    padding: 20px 30px;
}

.pitch-players {
    display: flex;
    justify-content: space-evenly;
}

.voice-part {
    display: flex;
    flex-direction: column;
}

.voice-part label {
    color: var(--campus-brick);
    margin-bottom: 10px;
    margin-left: 20px;
}

.voice-part audio {
    width: 200px;
    /* color: var(--diploma); */
    /* color: white; */
}

/* .audition-foot {
    position: absolute;
    bottom: 0;
} */

.audition-panel {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 22vw;
    background: var(--diploma);
    border-radius: 17px;
    box-shadow: 5px 5px 5px #424242;
    margin: 10px 0;
}

.audition-panel .text {
    padding: 15px;
    color: white;
}

.audition-panel h3 {
    color: var(--campus-brick);
    margin: 0;
}

.audition-panel h4 {
    font-weight: normal;
    margin-top: 5px;
}

.audition-panel a {
    align-self: center;
}

@media only screen and (max-width: 906px) {

    .audition-content {
        flex-direction: column;
        align-items: center;
        padding: 10px 40px;
    }

    .audition-left, .audition-right {
        width: 100%;
        padding: 0;
    }

    .audition-wrapper {
        /* height: 92vh; */
    }

    /* .audition-foot {
        position: absolute;
        bottom: 0;
    } */
}