:root {
    --diploma: #2E1A47;
    --campus-brick: #B94700;
    --reflection: #C8C9C7;
}

.ensembles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ensembles-wrapper h1 {
    margin: 0;
    padding-top: 20px;
    font-family: turbinado-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: var(--campus-brick);
}

.ensembles-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 1500px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ensembles-wrapper hr {
    margin: 0;
    border-top: 1.5px solid var(--campus-brick);
    width: 95%;
}

@media only screen and (max-width: 906px) {
    .ensembles-content {
        flex-direction: column;
        align-items: center;
    }
}