:root {
    --diploma: #2E1A47;
    --campus-brick: #B94700;
    --almost-white: #e6e6e6;
}

body {
    background-color: var(--almost-white);
    font-family: trade-gothic-next, sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

h2 {
    margin-left: 30px;
    color: var(--campus-brick);
}

.wrapper {
    width: 100%;
    height: 91vh;
    padding-top: 9vh;
    padding-bottom: 20px;
    overflow: scroll;
    display: flex;
    /* padding: 10px 0; */
}

.left {
    width: 25%;
    padding: 0 20px;
}

.side-content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.side-content h3 {
    color: var(--campus-brick);
    margin: 10px;
}

.side-content hr {
    /* color: var(--diploma); */
    margin: 0;
    border-top: 1.5px solid var(--diploma);
    
}

.side-content p {
    color: var(--diploma);
    margin: 10px;
    margin-bottom: 15px;
}

.side-content #custom-button {
    align-self: center;
}

.right {
    width: 70%;
}