.staff-wrapper {
    height: 92vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-wrapper h1 {
    font-family: turbinado-pro, sans-serif;
    color: var(--campus-brick);
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    width: 200px;
}

.staff-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
}

.staff-panel {
    width: 30vw;
    min-width: 470px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.staff-panel h2 {
    font-weight: normal;
    margin: 0;
    padding-left: 25px;
    
}

.staff-panel hr {
    width: 100%;
    padding: 0;
    border-top: 1.5px solid var(--diploma);
}

.staff-panel .panel-content {
    padding: 0 25px;
}

.staff-panel img {
    float: left;
    margin-right: 10px;
    height: 150px;

}

.staff-panel h3 {
    color: var(--campus-brick);
    margin: 0;
}

.staff-panel p {
    margin: 0;
    margin-top: 5px;
    
}

.staff-panel .expanded-text {
    margin: 0;
    height: auto;
}

.staff-panel span {
    color: var(--campus-brick);
    font-family: trade-gothic-next, sans-serif;
    
}

/* .staff-panel button:hover {
    cursor: pointer;
} */
