:root {
    --diploma: #2E1A47;
    --campus-brick: #B94700;
    --reflection: #C8C9C7;
}

.container {
    display: flex;
    background: var(--diploma);
    border-radius: 17px;
    height: 17vh;
    width: 32vw;
    box-shadow: 5px 5px 5px #424242;
    margin: 20px 30px;
}

.container img {
    max-height: 16vh;
    border-radius: 17px;
}

.container .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px 0;
    color: var(--campus-brick);
}

.text h2 {
    margin: 0;
}

.text p {
    color: white;
    font-weight: normal;
    margin: 0;
}