:root {
    --diploma: #2E1A47;
    --campus-brick: #B94700;
    --reflection: #C8C9C7;
}

.container {
    display: flex;
    background: var(--diploma);
    border-radius: 17px;
    height: auto;
    max-height: 25vh;
    width: auto;
    box-shadow: 5px 5px 5px #424242;
    margin: 20px 30px;
}

.container img {
    height: 100%;
    width: 60%;
    max-height: 25vh;
    border-radius: 17px;
    object-fit: fill;
}

.container .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    padding: 10px;
    color: var(--campus-brick);
}

.text h2 {
    margin: 0;
}

.text p {
    color: white;
    margin: 0;
}

.custom-button {
    align-self: center;
}