.small-ensemble {
    display: flex;
    flex-direction: column;
    background: var(--diploma);
    border-radius: 17px;
    height: auto;
    width: 340px;
    box-shadow: 5px 5px 5px #424242;
    margin: 20px 30px;
}

.small-ensemble img {
    height: 50%;
    width: 340px;
    border-radius: 17px;
    object-fit: fill;
}

.small-ensemble .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-left: 10px;
    padding: 10px;
    color: var(--campus-brick);
}

.small-ensemble .text h2 {
    margin: 0;
}

.small-ensemble .text p {
    color: white;
    margin: 0;
}

.small-ensemble .small-button-wrapper {
    align-self: center;
    padding: 10px 0;
}