:root {
    --diploma: #2E1A47;
    --campus-brick: #B94700;
    --reflection: #C8C9C7;
}

.small-ensemble {
    display: flex;
    flex-direction: column;
    background: var(--diploma);
    border-radius: 17px;
    height: auto;
    /* max-height: 50vh; */
    width: auto;
    max-width: 400px;
    box-shadow: 5px 5px 5px #424242;
    margin: 20px 30px;
}

.small-ensemble img {
    height: 50%;
    width: 100%;
    border-radius: 17px;
    object-fit: fill;
}

.small-ensemble .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-left: 10px;
    padding: 10px;
    color: var(--campus-brick);
}

.small-ensemble .text h2 {
    margin: 0;
}

.small-ensemble .text p {
    color: white;
    margin: 0;
}

.small-ensemble .custom-button {
    align-self: center;
    padding: 10px 0;
}